.benefits {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem; /* 24px */
  text-align: center;
}

.benefits > div {
  border: 0.0625rem solid var(--panelBorderColor); /* 1px */
  border-radius: 0.5rem; /* 8px */
  background-color: var(--panelBackgroundColor);
  padding: 1.5rem; /* 24px */
}

.benefits > div div {
  margin: 0 auto;
  width: 2rem; /* 32px */
  height: 2rem; /* 32px */
  border: 0.0625rem solid transparent; /* 1px */
  border-radius: 999px;
  background: var(--benefitsNumberingBackgroundColor) padding-box,
    var(--benefitsNumberingBorderColor) border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--fontWeightMedium);
}

.benefits > div h3 {
  margin: 1rem 0; /* 16px 0 */
}

/* S devices */
@media screen and (min-width: 700px) {
  .benefits {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }

  .benefits > div div {
    margin: 0;
  }
}

/* L devices */
@media screen and (min-width: 1280px) {
  .benefits {
    grid-column-gap: 1.5rem; /* 24px */
    grid-row-gap: 4rem; /* 64px */
  }
}