.hero {
  position: relative;
  padding: calc(var(--navHeight) + var(--sectionPaddingY)) 0 var(--sectionPaddingY); /* 160px 0 */
}

.ellipseHero {
  top: 0;
  left: 50%;
  width: 100vw;
  height: auto;
  transform: translateX(-50%);
  max-width: 90rem; /* 1440px */
}

.container {
  margin: 0 auto;
  max-width: calc(var(--layoutMaxWidth) + 6.25rem); /* 100px */
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 8.125rem; /* 130px */
}

.content {
  max-width: 32.8125rem; /* 525px */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  margin-bottom: 1rem; /* 16px */
}

.content p:not(:last-child) {
  margin-bottom: 1rem; /* 16px */
}

.content .buttons {
  margin: calc(2.5rem - 0.5rem) -0.5rem 0; /* 40px */
  display: flex;
  flex-wrap: wrap;
}

.content .buttons a {
  margin: 0.5rem; /* 8px */
}

.content .buttons a {
  min-width: 8rem; /* 128px */
  border-color: var(--heroButtonBorderColor);
  background: var(--heroButtonBackground);
  padding: 0 0.75rem; /* 0 12px */
  box-shadow: var(--buttonInnerShadow);
}

.images {
  position: relative;
  text-align: right;
}

.images img {
  border-radius: 1rem; /* 16px */
  width: 100%;
  height: auto;
}

.images img:first-child {
  position: absolute;
  left: 0;
  max-width: 21.875rem; /* 350px */
}

.images img:last-child {
  margin-top: 5.625rem; /* 90px */
  max-width: 31.25rem; /* 500px */
}