@font-face {
  font-family: "DrukWide-Medium";
  src: url("/fonts/Druk_Wide_Family/DrukWide-Medium.otf") format("opentype");
  font-display: swap;
}

:root {
  /* Colors */
  --white: #ffffff;
  --black: #000000;
  --grey850: #23232a;

  /* Layout */
  --layoutMaxWidth: 1120px;
  --layoutPaddingX: 1rem; /* 16px */
  --sectionPaddingY: 10rem; /* 160px */

  /* Misc */
  --defaultBackgroundColor: var(--black);
  --defaultFontColor: var(--white);
  --defaultTransitionDuration: 0.3s;
  --logoColor: var(--white);
  --ellipseWidth: 47.5rem; /* 760px */
  --ellipseHeight: 25rem; /* 400px */
  --ellipseColor: #9d5cf4;

  /* Typography */
  --headingFontFamily: "DrukWide-Medium";
  --fontSizeXs: 0.75rem; /* 12px */
  --fontSizeS: 0.875rem; /* 14px */
  --fontSizeM: 1rem; /* 16px */
  --fontSizeL: 1.4375rem; /* 23px */
  --fontSizeXl: 2.75rem; /* 44px */
  --fontSizeXxl: 4.25rem; /* 68px */
  --fontWeightRegular: 400;
  --fontWeightMedium: 500;

  /* Buttons */
  --defaultButtonBorderColor: #36393f;
  --defaultButtonBorderRadius: 0.5rem; /* 8px */
  --defaultButtonBackground: #232428;
  --defaultButtonHeight: 2rem; /* 32px */
  --defaultButtonPaddingX: 1rem; /* 16px */
  --defaultButtonColor: var(--white);
  --buttonInnerShadow: inset 0rem -0.1875rem 0.0625rem 0rem rgba(0, 0, 0, 0.13),
    inset 0rem 0.125rem 0.0625rem 0rem rgba(255, 255, 255, 0.23);
  --availabilityButtonBorderColor: #65882b;
  --availabilityButtonBackgroundColor: #bbfc4f;
  --availabilityButtonColor: var(--grey850);
  --heroButtonBorderColor: #9d5cf4;
  --heroButtonBackground: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.04) 100%
    ),
    linear-gradient(to left, #120d1a, #120d1a);

  /* Nav */
  --navHeight: 3.875rem; /* 62px */
  --navLinkColor: var(--white);
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100vw;
  background-color: var(--defaultBackgroundColor);
  font-size: var(--fontSizeM);
  font-weight: var(--fontWeightRegular);
  color: var(--defaultFontColor);
  overflow-x: hidden;
}

main {
  padding: 0 var(--layoutPaddingX);
}

h1,
h2 {
  margin: 0;
  font-family: var(--headingFontFamily);
  font-weight: var(--fontWeightMedium);
}

h1 {
  font-size: var(--fontSizeXxl);
}

h2 {
  font-size: var(--fontSizeXl);
}

h3 {
  margin: 0;
  font-size: var(--fontSizeL);
  font-weight: var(--fontWeightRegular);
}

p {
  margin: 0;
  line-height: 1.5;
  opacity: 50%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  padding: 0;
  white-space: nowrap;
  transition-duration: var(--defaultTransitionDuration);
  cursor: pointer;
}

.sr-only {
  position: absolute !important;
  margin: 0;
  border: 0;
  width: 1px;
  height: auto;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.ellipse {
  position: absolute;
  width: var(--ellipseWidth);
  height: var(--ellipseHeight);
  background: var(--ellipseColor);
  filter: blur(200px);
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
