.wrapper {
  position: relative;
  padding: var(--sectionPaddingY) 0; /* 160px 0 */
}

.wrapper h2 {
  margin-bottom: 4rem; /* 64px */
  text-align: center;
}

.wrapper > div {
  width: 100vw;
  margin-left: calc(var(--layoutPaddingX) * -1);
}

.wrapper ul {
  height: 5rem; /* 80px */
  margin: 0;
  padding: 0;
  display: flex;
}

.wrapper ul li {
  list-style: none;
  margin: 0 2.5rem; /* 0 40px */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper ul li svg {
  width: 100%;
  height: auto;
  max-width: 15.625rem; /* 250px */
  max-height: 5rem; /* 80px */
}

.ellipsePartners {
  left: 0;
  transform: translate(-75%, -15%);
}