.locations {
  display: flex;
}

.locations > div:not(:last-child) {
  margin-right: 4.25rem; /* 68px */
}

.locations > div span {
  display: inline-block;
  margin-top: 0.375rem; /* 6px */
  color: var(--purple);
}

.locations > div p {
  margin: 0.25rem 0 1.625rem; /* 4px 0 26px */
}

.ellipseLocations {
  top: 0;
  right: 0;
  transform: translateX(75%);
}